/* Block container  */
.ce-tf__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Input wrapper */
.ce-tf__input-wrapper {
    width: 100%;
    display: flex;
    padding: 1em 0em;
}
.ce-tf__input-wrapper--center {
    justify-content: center;
}
.ce-tf__input-wrapper--left {
    justify-content: flex-start;
}
.ce-tf__input-wrapper--right {
    justify-content: flex-end;
}
/* Input */
.ce-tf__input {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
}
.dark .ce-tf__input {
    background-color: inherit;
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
}
.dark .ce-tf__input:focus {
    border-color: rgba(255, 255, 255, 0.7);  /* ダークモード時のフォーカスボーダー色 */
}
/* Input Width toggle */
.ce-tf__input--width-full {
    width: 100%;
}
.ce-tf__input--width-lg {
    width: 70%;
}
.ce-tf__input--width-md {
    width: 50%;
}
.ce-tf__input--width-sm {
    width: 30%;
}
/* Input font size toggle */
.ce-tf__input--font-xl {
    font-size: 1.4rem;
}
.ce-tf__input--font-lg {
    font-size: 1.2rem;
}
.ce-tf__input--font-md {
    font-size: 1rem;
}
.ce-tf__input--font-sm {
    font-size: 0.8rem;
}
.ce-tf__input--font-xs {
    font-size: 0.6rem;
}

/* Common Display toggle */
.ce-tf__hide {
    display: none;
}

/* Custom Placeholder Input */
.ce-tf__custom-placeholder {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
}
.ce-tf__custom-placeholder label {
    font-size: 14px;
}